{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}

<div class="container">
   <div class="row justify-content-center">
      <div class="col-8 bg-dark text-light rounded p-3 my-5">
         <h1 class="text-center">Modifier une catégorie</h1>

         {{ form_start(formEdit) }}

            {{ form_rest(formEdit) }}
            <button class="btn btn-block btn-primary">Modifier</button>

         {{ form_end(formEdit) }}

      </div>
   </div>
</div>

{% endblock %}
