{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}

<div class="container">
   <div class="row justify-content-center">
      <div class="col-8 bg-dark text-light rounded p-3 my-5">
         <h1 class="text-center">Ajouter une catégorie</h1>

         {{ form_start(formAdd) }}

            {{ form_rest(formAdd) }}
            <button class="btn btn-block btn-primary">Ajouter</button>

         {{ form_end(formAdd) }}

      </div>
   </div>
</div>

{% endblock %}
