{% extends 'base.html.twig' %}

{% block title %}Modifier une image{% endblock %}

{% block body %}

<div class="container">
   <div class="row justify-content-center">
      <div class="col-8 bg-dark text-light rounded p-3 my-5">
         <h1 class="text-center">Modifier une image</h1>

         {# {% for error in errors %}
            {{ error.message }}
         {% endfor %} #}

         
         {{ form_start(formEdit) }}

            {{ form_rest(formEdit) }}
            <button class="btn btn-block btn-primary">Envoyer ma photo</button>

         {{ form_end(formEdit) }}

      </div>
   </div>
</div>

{% endblock %}
