{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gestion de mes images{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-between align-items-center">
        <h1 class="text-center my-5 col-12">Profil de {{ app.user.firstname }} {{ app.user.lastname }}</h1>

        <a href="{{ path('account_new_picture') }}" class="btn btn-primary col-2 mb-3">Nouvelle photo</a>

        {# gestion du message de succès #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success col-9">{{ message }}</div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger col-9">{{ message }}</div>
        {% endfor %}

        <table class="table table-dark table-striped col-12 rounded">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Aperçu</th>
                    <th>Création</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                {% for picture in pictures %}
                <tr>
                    <td>
                        {{ picture.id }}
                    </td>
                    <td>
                        <img class="rounded img-fluid mb-3" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('small') }}" alt="{{ picture.image }}">
                    </td>
                    <td>
                        {{ picture.CreatedAt|date('d.m.Y à h:i') }}
                    </td>
                    <td>
                        <a href="{{ path('edit_picture', { id: picture.id }) }}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm confirm-delete" data-href="{{ path('delete_picture', { 'id': picture.id }) }}">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">Aucune image pour le moment... (｡T ω T｡)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Attention !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer cette image ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger">Supprimer</a>
                </div>
                </div>
            </div>
        </div>
        

        <div class="col-12">
        {{ knp_pagination_render(pictures) }}
        </div>
    </div>
</div>
{% endblock %}
