{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}

<div class="container">
   <div class="row justify-content-center">
      <div class="col-8 bg-dark text-light rounded p-3 my-5">
         <h1 class="text-center">Ajouter une image</h1>

         {# {% for error in errors %}
            {{ error.message }}
         {% endfor %} #}

         
         {{ form_start(formUpload) }}

            {{ form_row(formUpload.imageFile) }}
            {{ form_row(formUpload.description) }}
            {{ form_row(formUpload.tags) }}
            {{ form_row(formUpload.category) }}

            <button class="btn btn-block btn-primary">Envoyer ma photo</button>

         {{ form_end(formUpload) }}

      </div>
   </div>
</div>

{% endblock %}
