{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-12 col-md-9 col-xl-7 bg-dark text-light p-5 rounded mt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté sous le nom de {{ app.user.username }}, <a href="{{ path('app_logout') }}">vous déconnecter ?</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 text-center">Connexion</h1>
            <label for="inputEmail">Email</label>

            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Se souvenir de moi</label>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            
            <a href="{{ path('app_forgot_password_request') }}" class="d-block mt-2 text-right">Mot de passe oublié ?</a>

            <button class="btn btn-warning btn-block mt-4" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</div>
{% endblock %}
