{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="row">
        <section class="col-12">
            <h1 class="text-center my-5">Accueil</h1>

            <ul class="categories">
            {% for categorie in categories %}
            <li>
                <a href="{{ path('pictures_by_category', { id: categorie.id }) }}">
                    {{ categorie.name }}
                </a>
            </li>
            {% endfor %}
            </ul>
            <div class="row">
                {% for picture in pictures %}
                <a href="{{ path('picture', { id: picture.id }) }}" class="col-3">
                    <img class="rounded img-fluid mb-3" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
                </a>
                {% else %}
                <p class="col-12 text-center text-muted py-3">Aucune image pour le moment... (｡T ω T｡)</p>
                {% endfor %}

                <div class="col-12">
                {{ knp_pagination_render(pictures) }}
                </div>
            </div>

        </section>
    </div>

{% endblock %}
