{% extends 'base.html.twig' %}

{% block title %}{{ categorie.name }}{% endblock %}

{% block body %}

    <div class="row">
        <section class="col-12">
            <h1 class="text-center my-5">{{ categorie.name }}</h1>

                <div class="row">
                    {% for picture in categorie.pictures %}
                    <a href="{{ path('picture', { id: picture.id }) }}" class="col-3">
                        <img class="rounded img-fluid" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
                    </a>
                    {% endfor %}

                    <div class="col-12">
                    {{ knp_pagination_render(pictures) }}
                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}
