{% extends 'base.html.twig' %}

{% block title %}Aperçu de l'image{% endblock %}

{% block body %}

    <div class="row">
         <h1 class="col-12 mt-5 text-center">Aperçu de l'image</h1>
         <section class="col-12 my-5 text-center">
               <a href="{{ '/uploads/images/photos/'~ picture.image }}">
                  <img class="rounded" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('bigger') }}" alt="{{ picture.image }}">
               </a>

               <p class="pt-3">{{ picture.description }}</p>
               <small class="text-muted">{{ picture.tags }}</small>
               <p class="text-muted"><p>{{ picture.CreatedAt|date }}</p>

               <hr class="mt-5">

               <div class="row">
                  <h1 class="col-12">D'autres images de la catégorie {{ picture.category.name }} </h1>
                  {% for photo in picture.category.pictures %}
                     {% if photo.image is not same as(picture.image) %}
                     <a href="{{ path('picture', { id: photo.id }) }}" class="col-4">
                        <img class="rounded img-fluid" src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}">
                     </a>
                     {% endif %}
                  {% endfor %}
                  
                  <div class="col-12">
                  {{ knp_pagination_render(photos) }}
                  </div>
               </div>

         </section>
    </div>

{% endblock %}
