{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center my-5">
        <div class="col-12 col-md-9 col-xl-7 bg-dark text-light p-5 rounded mt-5">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1 class="text-center">Inscription</h1>

            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col">
                    {{ form_row(registrationForm.firstname) }}
                </div>
                <div class="col">
                    {{ form_row(registrationForm.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="col">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
            </div>
            <div class="row">
                <div class="col text-justify">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-warning">S'enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
