{% extends 'base.html.twig' %}

{% block title %}Mail envoyé !{% endblock %}

{% block body %}
    <p>
        Un email vous a été envoyé, il contient un lien à suivre pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail, vérifiez votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
