{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser le mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email et nous vous enverrons un mail contenant un lien de réinitialisation du mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le mail de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}