h1 {
   color:lightcoral;
}

ul.categories {
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 1rem 0 2rem;
   padding: 0;
}

ul.categories li {
   display:inline-block;
   margin:0 .5rem;
}

.pagination {
   margin-top:3rem;
   justify-content: center;
}