{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-between align-items-center">
        <h1 class="text-center my-5 col-12">Administration</h1>

        {# gestion du message de succès #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success col-9">{{ message }}</div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger col-9">{{ message }}</div>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_new_categorie') }}" class="btn btn-primary col-2 mb-3">Nouvelle Catégorie</a>

        <table class="table table-dark table-striped col-12 rounded">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Slug</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                {% for categorie in categories %}
                <tr>
                    <td>
                        {{ categorie.id }}
                    </td>
                    <td>
                        {{ categorie.name }}
                    </td>
                    <td>
                        {{ categorie.slug }}
                    </td>
                    <td>
                        <a href="{{ path('admin_edit_categorie', { id: categorie.id }) }}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm confirm-delete" data-href="{{ path('admin_categorie_delete', { 'id': categorie.id }) }}">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">Aucune catégorie pour le moment... (｡T ω T｡)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="col-12">
            {{ knp_pagination_render(categories) }}
        </div>
        {% endif %}

        <table class="table table-dark table-striped col-12 rounded mt-5">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Aperçu</th>
                    <th class="text-center">Création</th>
                    <th class="text-center">Validée</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for picture in pictures %}
                <tr>
                    <td>
                        {{ picture.id }}
                    </td>
                    <td>
                        <img class="rounded img-fluid mb-3" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('small') }}" alt="{{ picture.image }}">
                    </td>
                    <td class="text-center">
                        {{ picture.CreatedAt|date('d.m.Y à h:i') }}
                    </td>
                    <td class="text-center">
                        {{ picture.isvalid ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        <a href="{{ path('admin_edit_picture', { id: picture.id }) }}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm confirm-delete" data-href="{{ path('admin_delete_picture', { 'id': picture.id }) }}">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">Aucune image pour le moment... (｡T ω T｡)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="col-12">
        {{ knp_pagination_render(pictures) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
        <table class="table table-dark table-striped col-12 rounded mt-5">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.firstname }}
                    </td>
                    <td>
                        {{ user.lastname }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% for role in user.roles %}
                            {% if role is same as ('ROLE_USER') %}
                                <span class="badge badge-pill badge-secondary">Utilisateur</span>
                            {% elseif role is same as ('ROLE_EDITOR') %}
                                <span class="badge badge-pill badge-info">Éditeur</span>
                            {% elseif role is same as ('ROLE_ADMIN') %}
                                <span class="badge badge-pill badge-success">Administrateur</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin_edit_user', { id: user.id }) }}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm confirm-delete" data-href="{{ path('admin_delete_user', { 'id': user.id }) }}">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">Aucun utilisateur pour le moment... (｡T ω T｡)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="col-12">
        {{ knp_pagination_render(users) }}
        </div>
        {% endif %}

        <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Attention !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>La suppression est définitive.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger">Supprimer</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
